{
    "nfact_pp": {
        "list_of_subjects": false,
        "ref": false,
        "study_folder": false,
        "bpx_path": false,
        "target2": false,
        "seed": false,
        "rois": false,
        "warps": false,
        "out": "nfact_pp",
        "hcp_stream": false,
        "gpu": false,
        "nsamples": "1000",
        "res": "2",
        "ptx_options": false,
        "n_cores": false,
        "cluster": false,
        "dont_log": false,
        "overwrite": false
    },
    "nfact_decomp": {
        "ptxdir": false,
        "list_of_subjects": false,
        "outdir": false,
        "dim": false,
        "seeds": false,
        "migp": "1000",
        "algo": "ICA",
        "wta": false,
        "wta_zthr": "0.0",
        "normalise": false,
        "sign_flip": false,
        "overwrite": false,
        "config": false,
        "save_grey_as_cifit": false
    },
    "nfact_dr": {
        "ptxdir": false,
        "list_of_subjects": false,
        "nfact_dir": false,
        "algo": false,
        "seeds": false,
        "normalise": false
    }
}