{"nfact_pp": {"list_of_subjects": false, "ref": false, "study_folder": false, "bpx_path": false, "target2": false, "seed": false, "rois": false, "warps": false, "out": "nfact_pp", "hcp_stream": false, "gpu": false, "nsamples": "1000", "res": "2", "ptx_options": "False", "n_cores": "False", "cluster": "False", "dont_log": "False", "overwrite": "False"}, "nfact_decomp": {"ptxdir": false, "list_of_subjects": false, "outdir": false, "dim": false, "seeds": false, "migp": "1000", "wta": "False", "wta_zthr": "0.0", "normalise": "False", "sign_flip": "False", "overwrite": "False", "config": "False", "save_grey_as_cifit": "False"}, "nfact_dr": {"ptxdir": false, "list_of_subjects": false, "nfact_dir": false, "algo": false, "seeds": false, "normalise": "False"}}